#div-formulario {
    border: solid 1px;
    width: 60%;
    margin-bottom: 30px;
}

h2 {
    margin-top: 10px;
    text-align: center;
}

.btn {
    margin-bottom: 10px;
}

.form-gorup {
    margin-bottom: 15px;
}