.container {
    border: solid 1px;
    max-width: 500px;
    background-color: #343a40;
    margin-top: 150px;
}

h2 {
    margin-top: 10px;
    text-align: center;
    color: white;
}

.btn {
    margin-bottom: 10px;
    color: white;
}

.form-gorup {
    margin-bottom: 15px;
    color: white;
}